

<div class="small mt-3"><a href="https://kzwatkins.github.io"><em> K. Z. Watkins &copy; 2018</em></a></div>
</div> <!-- container closing -->

<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/fontawesome.min.js"></script>
<script type="text/javascript" src="/static/js/campgrounds.js"></script>
</body>
</html>
