

<div class="small"><em> Yelpcamp&trade; 2018</em></div>
</div> <!-- container closing -->

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/fontawesome.min.js"></script>
</body>
</html>
